#navigate {
    width:100%;
    background-color: #000000;
    margin-top: 0px;
    opacity: 0.7;
    font-family: "Helvetica";
position: static;

}


#navigate #tabs #item {
    display: inline; 
}

#navigate #tabs #items :a ¨{
    opacity: 0.7;   
}

#navigate #tabs #item a {
    color: white;
    font-size: 22px;
    font-family: "Helvetica";    
    padding: 4%;
    font-weight:100;
}


/* iPad  */

@media only screen 
and (min-device-width : 666px) 
and (max-device-width : 1024px)  {

#navigate {
    width: 100%;
    background-color: #000000;
    margin-top: 0px;
    opacity: 0.7;
    font-family: "Helvetica";

}


#navigate #tabs #item {
    display: inline; 
}

#navigate #tabs #items :a ¨{
    opacity: 0.7;   
}

#navigate #tabs #item a {
    color: white;
    font-size: 14px;
    font-family: "Helvetica";    
    padding: 2%;
    font-weight:100;
}

}


/* Iphone 6 */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
    
#navigate {
    width: 100%;
    background-color: #000000;
    margin-top: 0px;
    opacity: 0.7;
    font-family: "Helvetica";

}

#navigate #tabs #item {
    display: inline; 
}

#navigate #tabs #items :a ¨{
    opacity: 0.7;   
}

#navigate #tabs #item a {
    color: white;
    font-size: 10px;
    font-family: "Helvetica";    
    padding: 2%;
    font-weight:100;
}    
    
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
    
#navigate {
    width: 100%;
    background-color: #000000;
    margin-top: 0px;
    opacity: 0.7;
    font-family: "Helvetica";

}

#navigate #tabs #item {
    display: inline; 
}

#navigate #tabs #items :a ¨{
    opacity: 0.7;   
}

#navigate #tabs #item a {
    color: white;
    font-size: 8px;
    font-family: "Helvetica";    
    padding: 2%;
    font-weight:100;
}    
    
}













/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

#navigate {
    width: 100%;
    background-color: #000000;
    margin-top: 0px;
    opacity: 0.7;
    font-family: "Helvetica";

}

#navigate #tabs #item {
    display: inline; 
}

#navigate #tabs #items :a ¨{
    opacity: 0.7;   
}

#navigate #tabs #item a {
    color: white;
    font-size: 7px;
    font-family: "Helvetica";    
    padding: 2%;
    font-weight:100;
}    
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)
and (max-width : 600px) {

#navigate {
    width: 100%;
    background-color: #000000;
    margin-top: 0px;
    opacity: 0.7;
    font-family: "Helvetica";

}

#navigate #tabs #item {
    display: inline;
    width: 5%;
}

#navigate #tabs #items :a ¨{
    opacity: 0.7;   
}

#navigate #tabs #item a {
    color: white;
    font-size: 8px;
    font-family: "Helvetica";    
    padding: 1%;
    font-weight:100;
}    
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

#navigate {
    width: 100%;
    background-color: #000000;
    margin-top: 0px;
    opacity: 0.7;
    font-family: "Helvetica";

}

#navigate #tabs #item {
    display: inline; 
}

#navigate #tabs #items :a ¨{
    opacity: 0.7;   
}

#navigate #tabs #item a {
    color: white;
    font-size: 7px;
    font-family: "Helvetica";    
    padding: 2%;
    font-weight:100;
}    
}




