.dropdown .dropdown-menu{
    display: block;
    opacity: 0;

    -moz-transition:    all 1500ms ease;
    -webkit-transition: all 1500ms ease;
    -o-transition:      all 1500ms ease;
    -ms-transition:     all 1500ms ease;
    transition:         all 1500ms ease;


}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;

}

.dropdown-menu li>a{
    color:black; 
    padding-top:9px;
    padding-bottom:9px;
    width:246.5px;
}


   .dropdown-menu>li{
    padding:10px; 
    border-bottom:0px solid white;
    border-left:0px solid white;
    border-right:0px solid white; 
    padding-left:0px;
    padding-right:0px;
    
}
   .dropdown-menu li>a:hover{
    background:#c8c8c8; 
}

    .dropdown{
        opacity:0.8;
        position:relative;
        left:10px;
        top:10px;
        z-index: 10000;
}




button{
	size:100px;
}

body{
	background-image:url("../../images/backgroundimages/911.jpg");
	background-size: 100%;
	background-repeat:no-repeat;
    

}


h1{
    font-size:72pt;
    font-weight: 100;
    position:relative;
    top:220px;
    color:#ffffff;
    font-family: "Helvetica";
}



#image1{
    height:70px;
    width:210px;
}

#bar{
    border-top:0px;
    background:#ffffff;
    opacity:0.60;
    color:#000000;
    padding-top:20px;
    padding-bottom:20px;
}