.dropdown .dropdown-menu{
    display: block;
    opacity: 0;

    -moz-transition:    all 1500ms ease;
    -webkit-transition: all 1500ms ease;
    -o-transition:      all 1500ms ease;
    -ms-transition:     all 1500ms ease;
    transition:         all 1500ms ease;


}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 0.80;
    color:#000000;
}

.dropdown-menu li>a{
    color:black; 
    padding-top:9px;
    padding-bottom:9px;
    width:246.5px;
}


   .dropdown-menu>li{
    padding:10px; 
    border-bottom:0px solid white;
    border-left:0px solid white;
    border-right:0px solid white; 
    padding-left:0px;
    padding-right:0px;
}
   .dropdown-menu li>a:hover{
    background:#c8c8c8; 
}

    .dropdown{
        opacity:0.8;
        position:relative;
        left:10px;
        top:10px;

    }

    .dropdown .dropdown-menu{}



button{
    size:100px;
}

body{background-image: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0, #4259B6),
    color-stop(0, #8F8F8F),
    color-stop(1, #F0EDED),
    color-stop(1, #FAFBC8)
);
background-image: -o-linear-gradient(top, #4259B6 0%, #8F8F8F 0%, #F0EDED 100%, #FAFBC8 100%);
background-image: -moz-linear-gradient(top, #4259B6 0%, #8F8F8F 0%, #F0EDED 100%, #FAFBC8 100%);
background-image: -webkit-linear-gradient(top, #4259B6 0%, #8F8F8F 0%, #F0EDED 100%, #FAFBC8 100%);
background-image: -ms-linear-gradient(top, #4259B6 0%, #8F8F8F 0%, #F0EDED 100%, #FAFBC8 100%);
background-image: linear-gradient(to top, #4259B6 0%, #8F8F8F 0%, #F0EDED 100%, #FAFBC8 100%);

}

p{
    color:#000000;
    font-size: 16pt;
    text-shadow: 0px 0px 0px #000000;
    font-weight:200;
}




h2{
    font-family:"Helvetica";
    font-weight:200;
    font-size:54pt;
    padding-top:20px;
    position:relative;
    color:#505050;

    
}

p{
    font-weight:300;
    font-family:"Helvetica";
    font-size:18pt;
}

h6{
    font-family:"Helvetica";
    font-size:18pt;
    color:#909090;
}

ul{
    color:#909090;
}


li{
    z-index:1000;
}



#image1{
    height:70px;
    width:210px;
}

#slide{
    background-color: #c8c8c8;
}

#container1{
    display:inline-block;
    width:40%;
    padding-right:50px;
    padding-left:20px;
    padding-bottom:20px;
}

#container2{
    display:inline-block;
    width:40%;
    float:right;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:20px;
   
}

#containerx{
    display:inline-block;
    width:33%;
    padding:40px;
    color:#000000;
}

#Div1title{
    font-size: 24pt;
    position:relative;
    bottom:0px;
    padding-top:10px;
    color:#909090;
}

#spectrum{
    width:1500px;
    height:50px;
    opacity:0.7;
}





#imagegeneral{
    border-radius:50%;
}

#everything{
    display:inline-block;
}

#person{
    display:inline-block;
    position: relative;
}
 
.float-left{
    float:left;
    width:33.33333%;
}




#images{
    position:relative;
    width:50%;
    padding-bottom:50px;

}

#paragraph{
    position:relative;
    width:65%;
    text-align: center;
}

#bar1{
    padding-top:20px;
    padding-bottom:20px;
    background:#6C7B8B;
    opacity:0.45;
}


#us {
    font-size: 72pt;
    color: white;
}

#entry {
    font-size: 24pt;   
}


img {
-webkit-filter: grayscale(100%);
z-index: -9999999999999999999999999;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
-ms-transition: all 0.25s ease-in-out;
transition: all 0.25s ease-in-out;
}

img:hover {
-webkit-filter: grayscale(0%);
z-index: -9999999999999999999999999;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
-ms-transition: all 0.25s ease-in-out;
transition: all 0.25s ease-in-out;
}



/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

#us {
     font-size: 60;
    
    }


}



/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

#us {
    font-size:50pt;
    font-weight: 100;
    color:white;
    font-family:"Helvetica";
}

#entry {
    position:relative;
    width:65%;
    text-align: center;
    font-size: 12pt;
}
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

#us {
    font-size:60pt;
    font-weight: 100;
    color:white;
    font-family:"Helvetica";
}

#entry {
    position:relative;
    width:65%;
    text-align: center;
    font-size: 12pt;
}
}