.dropdown .dropdown-menu{
    display: block;
    opacity: 0;

    -moz-transition:    all 1500ms ease;
    -webkit-transition: all 1500ms ease;
    -o-transition:      all 1500ms ease;
    -ms-transition:     all 1500ms ease;
    transition:         all 1500ms ease;


}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 0.80;
    color:#000000;
}

.dropdown-menu li>a{
    color:black; 
    padding-top:9px;
    padding-bottom:9px;
    width:246.5px;
}


   .dropdown-menu>li{
    padding:10px; 
    border-bottom:0px solid white;
    border-left:0px solid white;
    border-right:0px solid white; 
    padding-left:0px;
    padding-right:0px;
}
   .dropdown-menu li>a:hover{
    background:#c8c8c8; 
}

    .dropdown{
        opacity:0.8;
        position:relative;
        left:10px;
        top:10px;

    }

    .dropdown .dropdown-menu{}



button{
    size:100px;
}

body{
    background-image:url('../../images/backgroundimages/gradient.jpg');
    background-image:url("../../images/backgroundimages/Building.jpg");
    background-size: 100%;
    background-repeat:repeat;

}

hr{
    border-width:4px;
    color:#000000;
  

}

p{
    color:#ffffff;
    font-size: 18pt;
    
}



h1{
    font-size:72pt;
    font-weight: 100;
    position:relative;
    top:90px;
    color:#ffffff;
    font-family:"Helvetica";
}

h2{
    font-family:"Helvetica";
    font-weight:200;
    font-size:54pt;
    padding-top:20px;
    position:relative;
    color:#505050;

    
}

h6{
    font-family:"Helvetica";
    font-size:18pt;
    color:#909090;
}

ul{
    color:#909090;
}


li{
    z-index:1000;
}

#image1{
    height:70px;
    width:210px;
}

#slide{
    background-color: #c8c8c8;
}


#container1{
    display:inline-block;
    width:40%;
    padding-right:50px;
    padding-left:20px;
    padding-bottom:20px;
}

#container2{
    display:inline-block;
    width:40%;
    float:right;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:20px;
   
}

#containerx{
    display:inline-block;
    width:33%;
    padding:40px;
    color:#000000;
}

#Div1title{
    font-size: 24pt;
    position:relative;
    bottom:0px;
    padding-top:10px;
    color:#909090;
}

#spectrum{
    width:1500px;
    height:50px;
    opacity:0.7;
}

#bar{
    background:#ffffff;
    opacity:0.60;
    padding-top:20px;
    padding-bottom:20px;
    color:#000000;
}

#para1{
    position:relative;
    width:40%;
    left:4%;
    top:-130px;
}

#para2{
    position:relative;
    width:40%;
    left:4%;
    top:-330px;
}

#image2{
    position:relative;
    width:40%;
    left:55%;
    top:-200px;
    background:#ffffff;
    opacity:0.70;
    border-radius:15px;
    padding-top:15px;
    padding-bottom:15px;
}


#slide2{
    background-image:url('../../images/backgroundimages/gradient.jpg');
    background-size: 100%;
    background-repeat:repeat;
    background:#000000;
}

#paragraph1{
    position:relative;
    

}





/* Paragraphs for About Us */


#everything{
    display:inline-block;
}

#person{
    display:inline-block;
    position: relative;
}
 
.float-left{
    float:left;
    width:50%;
}




#images{
    position:relative;
    width:80%;
    padding-bottom:50px;
    padding-top:50px;
    padding-right:50px;

}

#paragraph{
    position:relative;
    width:85%;
    text-align: justify;
}


#paragraph1{
    position:relative;
    width:90%;
    font-size:24pt;
    font-weight:300;
}



/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

h1{
    font-size:50pt;
    font-weight: 100;
    position:relative;
    top:90px;
    color:#ffffff;
    font-family:"Helvetica";
}
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
h1{
    font-size:60pt;
    font-weight: 100;
    position:relative;
    top:90px;
    color:#ffffff;
    font-family:"Helvetica";
}
}